.app {
  text-align: center;
}

.loader {
  margin-top: 20px;
  color: #ff6347;
}

.error {
  color: red;
  font-weight: bold;
}

.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
